<div class="ck_margin">
<div class="row col-md-9">
  <div class="col-md-offset-1">
    <%= form_for(@post, html: { multipart: true }) do |f| %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autocomplete: "off", class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.cktext_area :body, autocomplete: "off", class: "form-control" %>
    </div>



    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary"  %>
    </div>

    <% end %>

  </div>
</div>
</div>
