<div class="row top-buffer">

    <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag post.image.url("thumb_big") if post.image? %>
        <div class = "caption">

          <h3><%= post.title %></h3>
          <p><%= raw(post.body.split[0..20].join(' ')) %>...</p>
          <p>
            <% if post.user == current_user %>
              <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary", data: { 'no-turbolink' => true }   %>
            <% end %>
            <%= link_to "Show more", post, class: "btn btn-default" %>
          </p>

        </div>
      </div>
    </div>
  <% end %>


</div>
