<nav class="navbar navbar-default">
    <div class="container-fluid">
      <%= link_to "Home page", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%=link_to "New post", new_post_path %></li>
          <li><a href="#"><%= current_user.first_name %></a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
